.board {
  padding: 10px;
  height: 100%;
  width: 100%;
  position: relative;
  border: solid;
}
.comp-list{
  border: solid;
  min-height: 100px;
}
#root {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}